.env
.idea
airflow.cfg
airflow.db
airflow/logs/
airflow/dags/spotify_etl_key.pem
airflow/dumdum.py
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/simple_auth_manager_passwords.json.generated

playlist_songs_clean.json
playlist_tracks.json